@using StrengthTrainingApp.DataTransferObjects

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Muscle Group</th>
        <th>Primary Muscle</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var record in WorkoutRecords)
    {
        @if (_previousId != record.WorkoutId)
        {
            <tr>
                <td colspan="6">Workout @record.WorkoutId</td>
            </tr>
        }
        <tr>
            <td>@record.Name</td>
            <td>@record.MuscleGroup</td>
            <td>@record.PrimaryMuscle</td>
            <td>@record.Reps</td>
            <td>@record.Weight</td>
            <td>@record.Notes</td>
        </tr>
        _previousId = record.WorkoutId;
    }
    </tbody>
</table>

@code {
    private long _previousId = -1;

    [Parameter]
    public List<FullWorkoutRecord> WorkoutRecords { get; set; }

    protected override void OnParametersSet()
    {
        SortWorkoutRecords();
    }

    private void SortWorkoutRecords()
    {
        WorkoutRecords = WorkoutRecords.OrderBy(record => record.WorkoutId).ToList();
    }
}